{% extends "layout.html" %}

{% block title %}
    NYTimes Book Reviews Finder
{% endblock %}

{% block body %}
    <div class='tusdatos-webapp-index-logocontainer'>
        <a href='/'>
            <img src='../static/nytimes.png'>
        </a>
    </div>
    <div class='tusdatos-webapp-index-titlecontainer'>
        <p>Welcome to the</p>
        <h1>New York Times Book Reviews Finder</h1>
    </div>
    <div class='tusdatos-webapp-index-searchbarcontainer'>
        <form action='/' method='post'>
            <label for='title'>Book Title: </label>
            <input type='text' name='title' optional>
            <br/>
            <label for='author'>Author: </label>
            <input type='text' name='author' optional>
            <br/>
            <label for='ISBN'>ISBN: </label>
            <input type='text' name='ISBN' optional>
            <br/>
            <input class='submit' type='submit'>
        </form>
    </div>
{% endblock %}